- content_for :head do
  %title Robot Mode LLC - iPhone, Ruby on Rails, and Adobe AIR Development
  %link{:rel => "stylesheet", :href => "/stylesheets/home.css"}

#main
  #shopkeeper
    %h1 Manage Shopify stores with Shopkeeper
    = link_to image_tag("shopkeeper/iphonesmall1.jpg", :alt => "Download from the App Store"), :controller => :shopkeeper
    .description
      %p
        We're very proud to announce
        <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=309568248&amp;mt=8">Shopkeeper</a>, our first iPhone application. We've set up
        several of our clients with 
        = link_to "Shopify", "http://www.shopify.com/?ref=robotmode"
        hosted eCommerce solutions, and we noticed our clients needed an easy 
        way to manage their Shopify stores on the go.
      %ul
        %li Manage multiple stores
        %li See when you have pending orders
        %li Get the shipping address and line items for your open orders any time, anywhere
        %li Check your product inventory quickly and easily
        %li Uses SSL to ensure that all customer information is secure
      %p
        = link_to "Download from the App Store", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=309568248&amp;mt=8"
        \|
        = link_to "Learn more...", :controller => :shopkeeper

  %h1 Introducing Robot Mailer
  %p
    Robot Mailer is a new service we've put together for just one purpose - helping you kick ass at email marketing. No setup fee, no monthly fees, and each mailer is only $5 plus 2 cents per recipient.
    = link_to "Sign up or learn more...", "/mailer"

  #mailer-features
    .feature-row
      .icon
        %img{:src => "/images/robotmailer/envelope_go.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
      .feature-text
        %h3 Create and send email campaigns
        %p Import your custom HTML and CSS with a single click. Use our integrated testing tools to make sure they look great in all web and desktop email programs and don't get stuck in spam filters.

    .feature-row
      .icon
        %img{:src => "/images/robotmailer/vcard.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
      .feature-text
        %h3 Manage lists and subscribers
        %p We take all the pain out of list management by handling the messy stuff like bounces and unsubscribes automatically. Whether you've got a small list, or need to get your hands dirty with segmenting and personalization, we've got you covered.
  
    .feature-row
      .icon
        %img{:src => "/images/robotmailer/chart_pie.png", :width => "48px", :height => "48px", :alt => "Create and send email campaigns"}
      .feature-text
        %h3 Reporting and analytics
        %p Great looking reports that allow you to accurately measure the effectiveness of every campaign you send. Go beyond opens and link clicks and measure your campaign related sales, conversions and ROI with our Google Analytics integration.
  
    .feature-row
      %p
        = link_to "But wait, there's more...", :controller => "mailer"
#sidebar
  %h2 We have the technology.
  %p Your business, better than it was before. Better, stronger, faster.
  %p
    We can help you improve, create, sell, advertise, and secure your business
    or product using the latest web technologies and best practices. We focus on
    collaboration, agile development, and making things look good.
  %h2 What we do
  %ul
    %li{:class => "listhead"} Development
    %li Web apps with Ruby on Rails and Adobe Flex
    %li Mobile apps for iPhone and Palm Pre (webOS)
    %li Desktop app development with Adobe AIR
    %li Mac OS X applications (Cocoa)
    %li eCommerce for digital and physical goods
  %ul
    %li{:class => "listhead"} Consulting
    %li Traffic analytics and online advertising
    %li Development best practices and workflow
    %li Network and application security
    
  %h2 Stay in touch
  %p Sign up for our mailing list to find out about new products and services.
  %form{:action => "http://mailer.robotmo.de/t/r/s/fktud/", :method => "post"}
    %p
      %label{:for => "name"}
        Name:
      %br
      %input{:type => "text", :name => "cm-name", :id => "name"}
      %br
      %label{:for => "fktud-fktud"}
        Email:
      %br
      %input{:type =>"text", :name => "cm-fktud-fktud", :id => "fktud-fktud"}
      %input{:type => "submit", :value => "Subscribe"}
      %br
      %span.subtext
        Powered by Robot Mailer
  %h2 About us
  %p
    Robot Mode LLC is a small, agile development company located in the heart of sunny
    downtown San Diego, California, right next to Horton Plaza and the Gaslamp District.
    When we're not hammering away at code, we frequent
    %a{:href => "http://www.thelocalsandiego.com/"} The Local
    and
    %a{:href => "http://bowlevt.com/"} East Village Tavern &amp; Bowl
    \.
  %p
    Collectively, we have backgrounds in Ruby on Rails, Adobe AIR, Adobe Flex,
    adult digital media, high-traffic commercial websites, Top Secret military
    networks, aircraft carriers, and user experience design.