- content_for :head do
  %link{:rel => "stylesheet", :href => "/stylesheets/norobot.css"}

%h1 Almost done!
%br
%p Just create a username and password and you're all set!

- form_for(@campaign_monitor, :url => create_account_mailer_signups_path, :html => {:method => :post}) do |f|
  = f.error_messages
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :password
    %br
    = f.text_field :password

  = f.hidden_field :email
  = f.hidden_field :company_name
  = f.hidden_field :contact_name
  = f.hidden_field :country
  = f.hidden_field :timezone
  %p
    = f.submit 'Create Account'
